{{#section 'header'}}
  <div class="site-admin">
    <h1>Admin</h1>
  </div>

  <div class="site-toolbar">
    <a class="site-button"
       href="/admin/config">Config</a>
    <a class="site-button"
       href="/admin/ops">Ops</a>
    <a class="site-button" target="ALIEN_KUBE"
       href="https://api.beta.kube.robotik.io/api/v1/proxy/namespaces/kube-system/services/kubernetes-dashboard">Kubernetes</a>
    <a class="site-button" target="ALIEN_FIREBASE"
       href="https://console.firebase.google.com/project/alienlabs-dev/database/data">Firebase</a>
  </div>
{{/section}}

{{#section 'body'}}
  <div class="site-panel">
    <h2>Clients</h2>
    <div>
      <table>
        <thead>
          <tr>
            <th>Platform</th>
            <th>Client ID</th>
            <th>User ID</th>
            <th>Message Token</th>
            <th>Registered</th>
          </tr>
        </thead>
        <tbody>
        {{#each clients}}
          <tr>
            <td class="site-data">{{ platform }}</td>
            <td class="site-data">{{ id }}</td>
            <td class="site-data">{{ userId }}</td>
            <td class="site-data">{{ short messageToken }}</td>
            <td class="site-data site-expand">{{ time registered }}</td>
            <td>
              <button onclick="invalidate('{{ id }}')">Ping</button>
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>
{{/section}}

  <!--
  <i onclick="refresh()" class="material-icons site-action">refresh</i>
  <div class="site-section site-section-expand">
  </div>

  <div class="site-section">
    <div class="site-buttons">
      <div>
        <button onclick="flush()">Flush Clients</button>
        <button onclick="schedule()">Test Scheduler</button>
        {{#if testing }}
        <button onclick="dumpDatabase()">Dump Database</button>
        <button onclick="resetDatabase()">Reset Database</button>
        {{/if}}
      </div>

      <div>
        <label>Auto-update <input id="auto-update" type="checkbox" checked/></label>
      </div>
    </div>
  </div>
  -->

{{#section 'script'}}
  <script src="/assets/website.bundle.js"></script>
  <script>
    $(document).ready(() => {
      let interval = null;

      const setRefresh = (on) => {
        clearInterval(interval);
        if (on) {
          interval = setInterval(() => {
            document.location.reload();
          }, 5000);
        }
      };

      setRefresh($('#auto-update').change((event) => {
        setRefresh($(event.target).is(':checked'));
      }).is(':checked'));
    });

    function refresh() {
      document.location.reload();
    }

    function flush() {
      Site.postJson('/admin/api', { action: 'client.flush' }).then(() => {
        document.location.reload();
      });
    }

    function invalidate(clientId) {
      Site.postJson('/admin/api', { action: 'client.invalidate', clientId: clientId });
    }

    function schedule() {
      Site.postJson('/admin/api', { action: 'schedule.test' });
    }

    {{#if testing }}
    function dumpDatabase() {
      Site.postJson('/admin/api', { action: 'database.dump' });
    }
    function resetDatabase() {
      Site.postJson('/admin/api', { action: 'database.reset' });
    }
    {{/if}}
  </script>
{{/section}}
