{{#section 'header'}}
  <div class="site-admin">
    <h1>Config</h1>
  </div>

  <div class="site-toolbar">
    {{> admin_menu }}
  </div>
{{/section}}

{{#section 'body'}}
  <div class="site-panel">
    <h2>ENV</h2>
    <pre>{{{ json env 2 }}}</pre>
  </div>

  <div class="site-panel">
    <h2>Config</h2>
    <pre>{{{ json config 2 }}}</pre>
  </div>

  <div class="site-panel">
    <h2>Routes</h2>
    <table>
      <tbody>
      {{#each routes}}
      <tr>
        {{#if path}}
        <td>{{ path }}</td>
        <td></td>
        {{else}}
        <td>{{ root }}</td>
        <td>
        {{#each paths}}
          <div>{{ path }}</div>
        {{/each}}
        </td>
        {{/if}}
      </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
{{/section}}
