{{#section 'header'}}
  <div class="site-admin">
    <h1>Users</h1>
  </div>

  <div class="site-toolbar">
    {{> admin/menu }}
  </div>
{{/section}}

{{#section 'body'}}
  <div class="site-panel">
    <h2>Users</h2>
    <table>
      <thead>
      <tr>
        <th>Active</th>
        <th>Admin</th>
        <th>ID</th>
        <th>Email</th>
        <th/>
        <th colspan="3">Tasks</th>
      </tr>
      </thead>
      <tbody>
      {{#each users}}
      <tr>
        <td>{{ active }}</td>
        <td>{{ admin }}</td>
        <td>{{ id }}</td>
        <td>{{ email }}</td>
        <td/>
        <!--
        <td>{{ json . }}</td>
        -->
        <td>
          <i class="site-icon material-icons" onclick="sync('google.mail',      '{{ id }}')">mail</i>
          <i class="site-icon material-icons" onclick="sync('google.calendar',  '{{ id }}')">event</i>
        </td>
      </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
{{/section}}

{{#section 'script'}}
  <script>
    function sync(service, userId) {
      Site.postJson('/admin/api', {
        action: 'task',
        type: 'sync.' + service,
        userId
      }).then(() => {
        console.log('OK');
      });
    }
  </script>
{{/section}}
