{{#section 'head'}}
  {{! Chrome Extension. }}
  <link rel="chrome-webstore-item" href="{{ crxUrl }}">
{{/section}}

{{#section 'header'}}
  <div class="site-user">
    <h1>Profile</h1>
  </div>

  <div class="site-toolbar">
    <div>
      <a class="site-button" href="/home">Home</a>
      <a class="site-button" href="/services">Services</a>
      <a class="site-button" target="_blank" href="https://myaccount.google.com/permissions">Google App Permissions</a>
      <a class="site-button" onclick="return installCrx()">Chrome Extension</a>
    </div>

    <div>
      <!--
      <a class="site-button" target="_blank" onclick="return testToken('{{ idToken }}')">Test ID Token</a>
      -->
      <a class="site-button" href="/user/login?redirectUrl={{ encodeURI '/profile' }}">Login</a>
      <a class="site-button" href="/user/logout">Logout</a>
    </div>

  </div>
{{/section}}

{{#section 'body'}}
  <div class="site-panel">
    <h2>User</h2>
    <pre class="site-json">{{{ json user 2 }}}</pre>
  </div>

  <!--
  <div class="site-panel">
    <pre class="site-json" id="token"></pre>
  </div>
  -->

  <div class="site-panel">
    <h2>Groups</h2>
    {{#each groups}}
    <pre class="site-json">{{{ json . 2 }}}</pre>
    {{/each}}
  </div>
{{/section}}

{{#section 'script'}}
  <script src="/assets/website.bundle.js"></script>
  <script>
//  new Words().start(3, 30);

    function installCrx() {
      // NOTE: Only works from https (prod).
      // https://developer.chrome.com/webstore/inline_installation
      chrome.webstore.install('{{ crxUrl }}', () => { console.log('OK') }, error => { console.error(error) });
      return false;
    }

    /*
    // TODO(burdon): Verifies Google JWT only.
    function testToken(idToken) {
      Site.getJson('https://www.googleapis.com/oauth2/v3/tokeninfo?id_token=' + idToken).then(response => {

        function format(ts) {
          let m = moment.unix(ts);
          return m.format('YYYY-MM-DD HH:mm Z') + ' (' + m.fromNow();
        }

        _.assign(response, {
          iat: response.iat + ': ' + format(response.iat),
          exp: response.exp + ': ' + format(response.exp)
        });

        $('#token').text(JSON.stringify(response, 0, 2));
      });

      return false;
    }
    */

  </script>
{{/section}}
