{{#section 'head'}}
  {{! Chrome Extension. }}
  <link rel="chrome-webstore-item" href="{{ crxUrl }}">
{{/section}}

{{#section 'header'}}
  <div class="site-user">
    <h1>Profile</h1>
  </div>

  <div class="site-toolbar">
    {{> user/menu }}
  </div>
{{/section}}

{{#section 'body'}}

  {{#if false}}
  <div class="site-panel">
    <h2>Credentials</h2>
    <table>
    {{#each user.credentials}}
      <tr>
        <td>{{ @key }}</td>
        <td>{{ time this.granted }}</td>
        <td>
          {{#each this.scopes }}
            <div>{{ this }}</div>
          {{/each}}
        </td>
      </tr>
    {{/each}}
    </table>
  </div>
  {{/if}}

  <div class="site-panel">
    <h2>Services</h2>
    <table>
    {{#each serviceProviders}}
      <tr>
        {{!--<td>{{ this.meta.title }}</td>--}}
        <td>{{ this.id }}</td>
        {{!--<td>{{ this.scopes }}</td>--}}
        <!-- TODO(burdon): Assumes syncer. -->
        {{#if (hasCredentials this ../user)}}
        <td>
          <button onclick="subscribe('{{ this.id }}')">Subscribe</button>
        </td>
        {{/if}}
      </tr>
    {{/each}}
    </table>
  </div>

  <div class="site-panel">
    <h2>User</h2>
    <pre class="site-json">{{{ json user 2 }}}</pre>
  </div>

  <div class="site-panel">
    <h2>Groups</h2>
    {{#each groups}}
    <pre class="site-json">{{{ json . 2 }}}</pre>
    {{/each}}
  </div>
{{/section}}

{{#section 'script'}}
  <script>
//  new Words().start(3, 30);

    function subscribe(service) {
      Site.postJson('/profile/api', { action: `subscribe`, service }).then(() => {
        document.location.reload();
      });
    }

    function installCrx() {
      // NOTE: Only works from https (prod).
      // https://developer.chrome.com/webstore/inline_installation
      chrome.webstore.install('{{ crxUrl }}', () => { console.log('OK') }, error => { console.error(error) });
      return false;
    }

  </script>
{{/section}}
